# local package
-e .

# external requirements
click
Sphinx
coverage
awscli==1.27.44
flake8
python-dotenv>=0.5.1
pytorch
torchvision
wandb
pytorch-lightning
scipy
timm
dvc
dvc-gdrive
fastapi
uvicorn[standard]
